40_Common/SKT.Common/Service References/TikleDocManagerService/DocManagerService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tnet.Sharepoint.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tnet.Sharepoint.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_Authority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_Authority" nillable="true" type="tns:T_Authority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_Authority" nillable="true" type="tns:ArrayOfT_Authority" />
  <xs:complexType name="T_Authority">
    <xs:sequence>
      <xs:element minOccurs="0" name="AD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_Authority" nillable="true" type="tns:T_Authority" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfT_FileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_FileInfo" nillable="true" type="tns:T_FileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_FileInfo" nillable="true" type="tns:ArrayOfT_FileInfo" />
  <xs:complexType name="T_FileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CREATE_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITOR_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDIT_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDIT_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FOLDER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HAS_EDITED_VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_CURRENT_VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VERSION_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WRITER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WRITE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_FileInfo" nillable="true" type="tns:T_FileInfo" />
  <xs:complexType name="T_UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_UserInfo" nillable="true" type="tns:T_UserInfo" />
</xs:schema>